__pycache__/
.env
venv/
*.sqlite3
*.pyc
*.DS_Store
staticfiles/
node_modules/
.env.local

# Local secrets
.env
# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
/staticfiles/
/media/
/.env

# Local DB exports
local_lbsdb.dump
local_lbsdb.sql

# OS/editor
.DS_Store
.idea/
.vscode/

# secrets & dumps
.env
*.dump
*.sql
/staticfiles/
media/
__pycache__/
*.pyc

